.features {
  /* background-color: black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.dotted_background {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, #fefefe 0.5px);
  background-size: 10px 10px;
}

.feature_wrapper {
  /* background-color: black; */

  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0.15rem 0;
}

.feature {
  /* background-color: red; */

  display: flex;
  margin: 1rem;
  padding: 2rem;
  width: 1200px;
  min-height: 500px;
}

.main {
  /* background-color: blue; */

  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.diagram {
  /* background-color: aqua; */
  display: flex;
  flex: 1;
}

.capsule {
  /* background-color: yellow; */

  position: relative;
  top: -1rem;
  left: -1.5rem;

  background: #D9D9D9;
  border-radius: 31px;
  padding: 0 1rem;
  width: max-content;
}

.content_wrapper {
  /* background-color: green; */

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.content {
  /* background-color: green; */
  margin: 1.5rem 0;
}

.cta {
  /* background-color: gray; */
}

.cta_button {
  /* background-color: gray; */
  appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.description::before {
  display: block;
  content: "Learn how to";
  color: #8d8d8d;
  margin-right: 0.5em;
  font-weight: bold;
}

.product_color {
  color: white;
  background-color: black;
}

.growth_color {
  color: white;
  background-color: #b444cc;
}
